<a href="https://colab.research.google.com/github/hajsf/Time-Series-Forecast/blob/main/02_MergeDataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mount google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import glob
import numpy as np
import pickle

**Read the dataframe from the pickle file**

In [ ]:
path = "/content/drive/MyDrive/ColabNotebooks/dataset/01_GatheredData/"

In [ ]:
with open(path + '2022Sales.pk', 'rb') as f:
  data2022 = pickle.load(f)
print("number of records:", len(data2022))

number of records: 900898

In [ ]:
with open(path + '2021Sales.pk', 'rb') as f:
  data2021 = pickle.load(f)
print("number of records:", len(data2021))

number of records: 1894813

In [ ]:
with open(path + '2020Sales.pk', 'rb') as f:
  data2020 = pickle.load(f)
print("number of records:", len(data2020))

number of records: 1762154

In [ ]:
with open(path + '2019Sales.pk', 'rb') as f:
  data2019 = pickle.load(f)
print("number of records:", len(data2019))

number of records: 1478528

In [ ]:
with open(path + '20161718Sales.pk', 'rb') as f:
  data20161718 = pickle.load(f)
print("number of records:", len(data20161718))

number of records: 1252038

In [ ]:
frames = [data2022, data2021, data2020, data2019, data20161718]

In [ ]:
data = pd.concat(frames) #, keys=['ITEM_ID', 'SLS_CNTR_ID', 'DATE1'])
print("number of records:", len(data))

number of records: 7288431

In [ ]:
data.head()

  ITEM_ID  SLS_CNTR_ID      DATE1  QTY  TTL_VAL  TTL_CST
0    0020           13 2022-01-12  1.0     35.0    26.25
1    0020           13 2022-02-08  1.0     35.0    26.25
2    0020           13 2022-02-27  2.0     70.0    52.50
3    0020           13 2022-04-07  1.0     35.0    26.25
4    0020           13 2022-04-16  1.0     35.0    26.25

**Save dataframe to pickle file**

In [ ]:
path_generated = "/content/drive/MyDrive/ColabNotebooks/dataset/02_ProcessedData/"

In [ ]:
with open(path_generated + 'data.pk', 'wb') as f:
  pickle.dump(data, f)